<template>
	<q-side-link item to="/page/feed">
    <q-item-side icon="chat bubble outline" />
    <q-item-main label="Feed" />
	</q-side-link>
</template>
<script>

export default {
  data () {
    return {}
  }
}
</script>
