<template>
	<q-side-link item to="/page/{{ kebabCase name }}">
    <q-item-side icon="{{ icon }}" />
    <q-item-main label="{{ name }}" />
	</q-side-link>
</template>
<script>

export default {
  data () {
    return {}
  }
}
</script>
