<template>
  <q-layout
    ref="layout"
    view="lHh Lpr fff"
    :left-class="{'bg-grey-2': true}"
  >
    <q-toolbar slot="header">
      <q-btn
        flat
        @click="$refs.layout.toggleLeft()"
      >
        <q-icon name="menu" />
      </q-btn>

      <q-toolbar-title>
        WELCOME TO ASIK! APP
        <span slot="subtitle">companion for your day</span>
      </q-toolbar-title>
    </q-toolbar>

    <div slot="left">
      <!--
        Use <q-side-link> component
        instead of <q-item> for
        internal vue-router navigation
      -->

      <q-list no-border link inset-delimiter>
			  <component v-for="(item, key) in menuItems" :key="key" :is="item"></component>
        <q-item @click="doLogout">
          <q-item-side icon="exit to app" />
          <q-item-main label="Logout" sublabel="exit from app" />
        </q-item>
      </q-list>
    </div>
    <q-tabs color="primary" align="justify">
      <q-route-tab defaults slot="title" icon="chat bubble outline" to="/page/feed" />
      <!-- new tab -->
    </q-tabs>
		<q-transition enter="fadeIn" leave="fadeOut" mode="out-in" :duration="300">
			<router-view />
		</q-transition>
    <!--
      Replace following <div> with
      <router-view /> component
      if using subRoutes
    -->
    <!-- div class="layout-padding logo-container non-selectable no-pointer-events">
    </div -->
  </q-layout>
</template>

<script>

import { mapActions } from 'vuex'
import types from 'src/types'
import menu from './Page.menu.js'

const kebabCase = string => string.replace(/([a-z])([A-Z])/g, '$1-$2').replace(/\s+/g, '-').toLowerCase()
let components = {}
let menuItems = []

menu.map(item => {
  components[item] = () => import(`./${item}/${item}.menu.vue`)
  menuItems.push(kebabCase(item))
})

export default {
  components,
  data () {
    return {
      menuItems
    }
  },
  methods: {
    ...mapActions({
      doLogout: types.DO_LOGOUT
    })
  }

}
</script>

<style>
.layout-header, .layout-footer {
	box-shadow: none;
}
</style>
