<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
    <router-view></router-view>
  </div>
</template>

<script>

import store from './store.js'
import types from './types.js'
/*
 * Root component
 */
export default {
  store,
  beforeCreate () {
    this.$store.dispatch(types.INITIALISE_STORE)
  }
}
</script>

<style>
body {
	background-color: #FAFAFA;
}
</style>
